<div class="max-w-5xl mx-auto relative mt-16">
    {{ svg src="/assets/site/ycode-logo" class="absolute text-gray-800 mt-4 top-0 left-0 w-20 h-20 hidden md:block" }}
    <article class="py-32 max-w-2xl mx-auto">
        <header class="content mb-16">
            <h1>{{ title }}</h1>
            {{ content | widont }}
        </header>

        {{ collection:videos as="videos" paginate="10" }}
        {{ if no_results }}
        <h2 class="text-3xl italic tracking-tight">Theres nothing here.</h2>
        {{ /if }}

        {{ videos }}
        <div class="mb-2">
            <a href="{{ url }}" class="text-lg hover:text-teal tracking-tight leading-tight font-bold">
                {{ title | widont }}
            </a>
        </div>
        {{ /videos }}

        {{ paginate }}
        {{ if prev_page || next_page }}
        <div class="flex justify-between text-xl -mx-16 pt-16 font-bold">
            <a href="{{ prev_page }}" class="{{ ! prev_page ?= 'opacity-25' }}">
                &larr; Back to the future
            </a>
            <a href="{{ next_page }}">
                Forward to the past &rarr;
            </a>
        </div>
        {{ /if }}
        {{ /paginate }}
        {{ /collection:videos }}
    </article>
</div>
